{% extends "layout_student.html" %}
{% block content %}

{% if warning != '' %}
	<div class="row">
		<div class="col s12 center">
			<p class="white-text" style="margin-top: 1rem; margin-bottom: 0; font-weight: bold;">{{warning}}</p>
		</div>
	</div>
{% endif %}

<div class="container">
	<div class="card-panel grey lighten-2">
		<div class="row">
			<div class="col s12 center-align">
				<h5 class='light-blue-text text-darken-4' style="font-weight: bold; text-transform: uppercase;">UPLOAD NOTES - {{studentDetails['courseDetails']['name']}}</h5>
			</div>
			<form action="{{url_for('noteUpload')}}" method="post" enctype="multipart/form-data">
				<div class="col s12 input-field">
					<i class="material-icons prefix">edit</i>
					<input type="text" name="subjectName" id='sub-name' pattern="[a-zA-Z\s]+"  title="Enter valid subject name" class="validate" required>
					<label for="sub-name">Subject Name</label>
				</div>
				<div class="col s12 input-field">
					<i class="material-icons prefix">description</i>
					<textarea id="spot-desc" class="materialize-textarea" name="description" required></textarea>
					<label for="spot-desc">Description</label>
				</div>
				<div class="col s12 file-field input-field">
					<div class="btn light-blue darken-4">
						<span>FILES</span>
						<input type="file" name="doc" multiple class="validate" required>
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
				<div class="col s12 center-align">
					<input type="hidden" name="courseID" value="{{studentDetails['courseID']}}">
					<input type="submit" name="" value='UPLOAD NOTES' class="btn light-blue darken-4">
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}